* {
    padding: 0;
    margin: 0;
}

.header {
    height: 75px;
    background-color: #222222;
    padding: 28px 240px 20px 231px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.rightsIcons, .leftIcons {
    display: flex;
    justify-content: center;
}

.rightsIcons:hover, .leftIcons:hover {
    cursor: pointer;
}

.icon__search {
    margin-left: 41px;
}

.icon__user {
    margin: 0 33px;
}

.slider {
    height: 764px;
    background: #F1E4E6;
}

.slider__inner {
    display: flex;
    justify-content: center;
}

.slider__images {
    width: 50vw;
}

.sliderImage {
    float: right;
}

.slider__text {
    width: 50vw;
}

.sliderTexBox {
    padding-top: 290px;
    padding-left: 64px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.sliderTextRectangle {
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    margin-right: 16px;
}

.sliderTextWrapper {
    background-image: url('images/slider__text.svg');
    width: 374px;
    height: 74px;

}

.sales {
    width: 1140px;
    margin: 65px auto 96px auto;
    display: flex;
    flex-direction: column;
}

.salesFirstRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sales__women {
    background-image: url('images/sales_women.svg');
    width: 360px;
    height: 260px;
    display: flex;
}

.sales__men {
    background-image: url('images/sales_men.svg');
    width: 360px;
    height: 260px;
}

.sales__kids {
    background-image: url('images/sales_kids.svg');
    width: 360px;
    height: 260px;
}

.sales__accesories {
    background-image: url('images/sales_accesories.svg');
    width: 1140px;
    height: 180px;
}

.sales__overlay {
    width: 100%;
    height: 100%;
    background: rgba(33, 22, 22, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.salesWomenText {
    background-image: url('images/sales_women_text.svg');
    width: 150px;
    height: 42px;
    display: flex;
    flex-direction: column;
}

.salesMenText {
    background-image: url('images/sales_men_text.svg');
    width: 106px;
    height: 42px;
    display: flex;
    flex-direction: column;
}

.salesKidsText {
    background-image: url('images/sales_kids_text.svg');
    width: 113px;
    height: 42px;
    display: flex;
    flex-direction: column;
}


.salesAccesoriesText {
    background-image: url('images/sales_accesories_text.svg');
    width: 159px;
    height: 42px;
    display: flex;
    flex-direction: column;
}












