header {
    text-align: right;
    margin: 10px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

.btn-cart {
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.products {
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.product-item {
    width: 300px;
    padding: 30px;
}
